/**
 * @name ame-chan
 * @description Needy streamer overload inspired theme
 * @author yume_0
 * @version 0.0.1
 * @source https://github.com/yuandahanif/ame-chan
 * @authorId 378907976267726859
*/

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  /* top left corner text */
  --corner-text: "OMGkawaiiAngel";

  --ame-white: 300, 100%, 99%;
  --ame-blue: hsl(255, 71%, 47%);
  --ame-border-color: #161617;
  --ame-border: thin solid var(--ame-border-color);
  --ame-main-pink: #ff7ace;
  --ame-font-family: "Pixelify Sans", sans-serif;
  --ame-font-optical-sizing: auto;
  --ame-font-weight: 600;
  --ame-font-style: normal;
  --ame-scroll-thumb-color: #db8ed6;
  --ame-scroll-track-color: #9fbfce;

  /* override */
  --divider-color: var(--ame-main-pink);
  --scrollbar-auto-scrollbar-color-thumb: var(--ame-scroll-thumb-color);
  --scrollbar-auto-scrollbar-color-track: var(--ame-scroll-track-color);
  --scrollbar-auto-thumb: var(--ame-scroll-thumb-color);
  --scrollbar-auto-track: var(--ame-scroll-track-color);
  --scrollbar-thin-thumb: var(--ame-scroll-thumb-color);
  --scrollbar-thin-track: var(--ame-scroll-track-color);

  /* server navigation bg */
  --background-tertiary: hsl(var(--ame-white));
  /* --background-tertiary: #000; */

  /* channel list */
  --background-secondary: hsl(var(--ame-white));
  /* --background-secondary: #000; */

  /* main chat */
  --background-primary: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  );
  /* --background-primary: #000; */
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

/* pixelated font override */
.defaultColor_a595eb.heading-md-semibold__76ba1.defaultColor_e9e35f.title_fc4f04,
.lineClamp1_a595eb.text-md-semibold__8664f.name_fd6364,
.profilePanel_b433b4::before,
.membersGroup_cbd271.container_cc72c1 {
  font-family: var(--ame-font-family);
  font-optical-sizing: var(--ame-font-optical-sizing);
  font-weight: var(--ame-font-weight);
  font-style: var(--ame-font-style);
  color: var(--ame-blue);
}
/* server navigation ===========================================================================================*/
.wrapper_fea3ef.guilds_a4d4d9 {
  border-right: var(--ame-border);
  background: #eaffdb;

  .wrapper__8436d {
    /** FIXME: discord top badge not working */
    background: #eaffdb;
  }

  /* folder */
  .expandedFolderBackground_bc7085 {
    opacity: 0.6;
  }

  /* active indicator */
  .item_c4cd66 {
    background-color: var(--ame-main-pink);
  }

  .numberBadge__40d6f.base__5ed84.eyebrow_c15ff6.baseShapeRound_df8943 {
    background-color: var(--ame-main-pink) !important;
  }

  /* unread button */
  .mention_edf32f {
    background-color: var(--ame-main-pink);
    opacity: 0.9;
  }
}

/* main content ===========================================================================================*/
.chat_a7d72e {
  background: var(--background-primary);
}

/* sidebar left ============================================================================= */
.sidebar_a4d4d9 {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 240px;
  flex: 0 0 auto;
  overflow: hidden;
  border-right: var(--ame-border);
  background: linear-gradient(90deg, #eaffdb, #78efff);

  .container_ee69e0 {
    background: transparent;
  }

  /* server header */
  .header_fd6364 {
    border-bottom: var(--ame-border);
    box-shadow: none;
  }

  /* profile ================================ */
  .panels_a4d4d9 {
    background-color: transparent;

    .container_b2ca13 {
      background-color: transparent;
      border-top: var(--ame-border);
    }
  }
}

/* header chat ================================ */
.theme-light .themed_fc4f04,
.themed_fc4f04 {
  background: transparent;
}
.theme-light .children_fc4f04:after,
.children_fc4f04:after {
  background: transparent;
  border-right: var(--ame-border);
}
.icon_fc4f04 {
  color: var(--ame-blue);
}

/* toolbar right */
.toolbar_fc4f04 {
  .iconWrapper_fc4f04.clickable_fc4f04 .icon_fc4f04 {
    color: hsl(var(--ame-white));
  }
}

/* main chat ================================ */
.content_a7d72e:before {
  border-bottom: var(--ame-border);
  box-shadow: none;
}
.chatContent_a7d72e {
  background: transparent;
  border-right: var(--ame-border);
  box-shadow: none;
}
.theme-light .form_a7d72e:before,
.form_a7d72e:before {
  background: transparent;
}

/* mention message */
.message_d5deea.cozyMessage_d5deea.mentioned_d5deea.groupStart_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca {
  background: hsla(var(--ame-white), 0.5);
}
.mentioned_d5deea:before {
  background: var(--ame-main-pink);
}

/* new message devider ================================ */
.divider_c2654d {
  border-top-color: var(--ame-main-pink) !important;
}
.unreadPill_c2654d {
  background-color: var(--ame-main-pink) !important;
}
.unreadPillCap_c2654d.unreadPillCapStroke_c2654d,
.unreadPillCapStroke_c2654d {
  stroke: var(--ame-main-pink) !important;
  color: var(--ame-main-pink) !important;
  fill: var(--ame-main-pink) !important;
}
.content_c2654d {
  color: hsl(var(--ame-white));
  background: var(--ame-main-pink);
}

/* sidebar right ================================ */
.container_cbd271 {
  background: transparent;
}
.members_cbd271 {
  background: transparent;
  width: 240px; /* keep the scrollbar */
  padding: 0;
}

/* group title */
.membersGroup_cbd271.container_cc72c1 {
  padding: 10px 0px 7px 7px;
  height: auto;
}
/* member list */
.member_a31c43.member_cbd271.container_d808b0 {
  background: hsla(var(--ame-white), 0.3);
  max-width: 240px;
  border-radius: 0;
  margin-left: 0;
}
.member_a31c43.member_cbd271.container_d808b0.selected_d808b0 {
  background: hsla(var(--ame-white), 0.5);
}

/* user popout =============================================================  */
/* from user list on right panel */
:is(.layer_cd0de5[style*="right"]):has(
    .userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.profileColors_ac6ab4
  ) {
  right: calc(248px - 8px) !important;

  .layer_cd0de5 {
    right: 0 !important;
  }
}

/* from profile on bottom left */
:is(.layer_cd0de5):has(#account-switch-account) {
  left: 72px !important;
  right: unset !important;
  bottom: 50% !important;
  transform: translateY(50%) !important;

  .accountProfilePopoutWrapper_b2ca13 {
    left: 0;
  }
}

.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.profileColors_ac6ab4 {
  border-radius: 0;
  border: var(--ame-border);
}
.userPopoutInner_c69a7b.userProfileInner_c69a7b {
  background: transparent;
}

/* user banner */
.userProfileInner_c69a7b {
  border-radius: 0;
}

.banner_d5fdb1.popoutBannerPremium_c3e427.bannerPremium_c3e427.roundedBanner_c3e427[style*="background-color"],
.banner_d5fdb1.popoutBanner_c3e427[style*="background-color"] {
  background-color: hsl(var(--ame-white)) !important;
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/Henshin.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* DM screeen ================================================================================================================================================================ */
.content_a4d4d9:has([aria-label=" (channel)"]) {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/JINEBG.webp");
  background-repeat: repeat;
  background-size: 200px;

  .sidebar_a4d4d9 {
    background: transparent;
  }

  .chat_a7d72e {
    background: transparent;
  }

  .searchBar_f0963d {
    background: transparent;
    border-bottom: var(--ame-border);
  }

  /* .message_d5deea.cozyMessage_d5deea.groupStart_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca,
  .messageListItem_d5deea {
    background: #d0e5ff;
  } */
  .scrollerInner_e2e187[data-list-id="chat-messages"] {
    /* own message */
    /* li:has(.button_f7e168[aria-label="Edit"]) {
      background: #000;
    } */

    /* friend message */
    /* li:has(.button_f7e168[aria-label="Reply"]) {
      background: red;
    } */
  }

  /* chat input */
  .form_a7d72e {
    background: rgba(180, 156, 211, 0.8);
    padding-left: 0;
    padding-right: 0;

    .channelTextArea_a7d72e.channelTextArea_bdf0de {
      margin-bottom: 0;
      border-radius: 0;

      .scrollableContainer_bdf0de.themedBackground_bdf0de.webkit__8d35a {
        border-radius: 0;
        padding-left: 0;

        .inner_bdf0de.sansAttachButton_bdf0de {
          padding-left: 6px;
        }
      }
    }

    /* typing animation */
    .typing_d7ebeb.base_d7ebeb {
      bottom: unset;
      display: flex;
      justify-content: center;
      transform: translateY(-100%);
      top: 0;
      left: 0;
      right: unset;
      width: 100%;
      color: var(--text-normal);
      background: #d0e5ff;
    }
  }
}
.privateChannels_f0963d,
.theme-light .scroller_c47fa9,
.chatContent_a7d72e:has(+ .profilePanel_b433b4) {
  background: transparent;
}

/* DM right profile panel */
.profilePanel_b433b4 {
  padding-top: 35px;
  padding-bottom: 14px;
}
.profilePanel_b433b4::before,
.profilePanel_b433b4::after {
  box-sizing: border-box;
  padding: 11px 0 0 30px;
  content: "Pro f il e";
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-c.png");
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  overflow: hidden;
  max-height: 42px;
  z-index: 2;
}
.profilePanel_b433b4::after {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-c.png");
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
  padding: 0;
  content: "";
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  height: 14px;
}
.userPanelOuter_c69a7b.userProfileOuterUnthemed_c69a7b.profileColors_ac6ab4,
.userPanelOuter_c69a7b.userProfileOuterThemed_c69a7b.profileColors_ac6ab4.theme-light {
  position: relative;
}
.userPanelOuter_c69a7b.userProfileOuterUnthemed_c69a7b.profileColors_ac6ab4::before,
.userPanelOuter_c69a7b.userProfileOuterThemed_c69a7b.profileColors_ac6ab4.theme-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 5px,
    rgba(77, 35, 207, 1) 5px
  );
  width: 7px;
  z-index: 2;
}
.userPanelOuter_c69a7b.userProfileOuterUnthemed_c69a7b.profileColors_ac6ab4::after,
.userPanelOuter_c69a7b.userProfileOuterThemed_c69a7b.profileColors_ac6ab4.theme-light::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 5px,
    rgba(77, 35, 207, 1) 5px,
    rgba(77, 35, 207, 1) 6px
  );
  width: 7px;
  z-index: 2;
}

/* user banner without notro */
.banner_d5fdb1.panelBanner_c3e427.bannerPremium_c3e427[style*="background-color"] {
  background-color: hsla(var(--ame-white)) !important;
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/Henshin.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.none_c49869.scrollerBase_c49869 {
  background: var(--ame-white);
}
.userPanelInnerThemed_c69a7b {
  background: transparent;
}

/* Overiding User custom color !shuldnt do this */
.userProfileOuterThemed_c69a7b {
  /* background: transparent !important; */
}
.userProfileOuterUnthemed_c69a7b {
  background: hsl(var(--ame-white)) !important;
}

/* Friend ==================================================== */
.peopleColumn_c2739c {
  background: hsl(var(--ame-white));
}

.upperContainer_fc4f:has(.tabBar_c2739c.topPill_a0[aria-label="Friends"])
  svg {
  color: hsl(var(--ame-border-color));
}

/* Actibe now right panel */
.nowPlayingColumn_c2739c {
  display: flex;
  flex-direction: column;
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/preview/KAngel-peace-shine.webp"),
    hsl(var(--ame-white));
  background-repeat: no-repeat;
  background-position: bottom;
}
.container_bf550a {
  background: transparent;
}

/* Streaming ================================================================================================================================================================ */
.wrapper_d880dc.noChat_d880dc.video_d880dc.chatSidebarOpen_d880dc {
  background-color: hsl(var(--ame-white));
}

/* chat =====================*/
.channelChatWrapper_d880dc {
  background: transparent;
}
.container_d1c246 {
  border-radius: 0;
  background: transparent;
}

/* chat header */
.channelChatWrapper_d880dc .container_fc4f04[aria-label="Channel header"] {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-c.png");
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
}
.channelChatWrapper_d880dc
  .container_fc4f04[aria-label="Channel header"]
  .children_fc4f04
  .iconWrapper_fc4f04 {
  display: none;
}
.channelChatWrapper_d880dc
  .container_fc4f04[aria-label="Channel header"]
  .children_fc4f04
  .titleWrapper_fc4f04 {
  margin-left: 35px;
  margin-top: auto;
  margin-bottom: auto;
}
.channelChatWrapper_d880dc .children_fc4f04:after,
.channelChatWrapper_d880dc .children_fc4f04:after {
  border-right: 2px solid var(--ame-blue);
}

/* close icon */
.channelChatWrapper_d880dc
  .container_fc4f04
  .toolbar_fc4f04
  .iconWrapper_fc4f04.clickable_fc4f04[aria-label="Close"]
  .icon_fc4f04 {
  color: hsl(var(--ame-border-color));
}

/* chat */
.channelChatWrapper_d880dc .messagesWrapper_e2e187.group-spacing-16 {
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 7px,
    rgba(77, 35, 207, 1) 7px,
    rgba(77, 35, 207, 1) 9px,
    hsl(var(--ame-white)) 9px,
    hsl(var(--ame-white)) 98.5%,
    rgba(77, 35, 207, 1) 98.5%,
    rgba(77, 35, 207, 1) 98.9%,
    rgba(144, 244, 228, 1) 98.9%,
    rgba(144, 244, 228, 1) 99.7%,
    rgba(77, 35, 207, 1) 99.7%
  );
}

/* input */
.channelChatWrapper_d880dc .form_a7d72e {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-c.png"),
    linear-gradient(
      90deg,
      rgba(77, 35, 207, 1) 2px,
      rgba(144, 244, 228, 1) 2px,
      rgba(144, 244, 228, 1) 7px,
      rgba(77, 35, 207, 1) 7px,
      rgba(77, 35, 207, 1) 9px,
      hsl(var(--ame-white)) 9px,
      hsl(var(--ame-white)) 98.5%,
      rgba(77, 35, 207, 1) 98.5%,
      rgba(77, 35, 207, 1) 98.9%,
      rgba(144, 244, 228, 1) 98.9%,
      rgba(144, 244, 228, 1) 99.7%,
      rgba(77, 35, 207, 1) 99.7%
    );
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
  background-position-y: bottom;

  padding-left: 10px;
  padding-right: 10px;
}

/* chat input */
.channelChatWrapper_d880dc
  .form_a7d72e
  .channelTextArea_a7d72e.channelTextArea_bdf0de {
  margin-bottom: 19px;
}
.channelChatWrapper_d880dc
  .form_a7d72e
  .channelTextArea_a7d72e.channelTextArea_bdf0de
  .scrollableContainer_bdf0de.themedBackground_bdf0de {
  border-radius: 0;
}
