/**
 * @name ame-chan
 * @description Needy streamer overload inspired theme
 * @author yume_0
 * @version 0.0.1
 * @source https://github.com/yuandahanif/ame-chan
 * @authorId 378907976267726859
*/

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  /* top left corner text */
  --corner-text: "OMGkawaiiAngel";

  --ame-white: 300, 100%, 99%;
  --ame-blue: hsl(255, 71%, 47%);
  --ame-border-color: #161617;
  --ame-border: thin solid var(--ame-border-color);
  --ame-main-pink: #ff7ace;
  --ame-font-family: "Pixelify Sans", sans-serif;
  --ame-font-optical-sizing: auto;
  --ame-font-weight: 600;
  --ame-font-style: normal;

  /* override */
  --divider-color: var(--ame-main-pink);
}

/* pixelated font override */
.defaultColor__30336.heading-md-semibold__76ba1.defaultColor__8610e.title__84e16,
.lineClamp1__6f680.text-md-semibold__8664f.name_e8e549,
.profilePanel_e2cafe::before {
  font-family: var(--ame-font-family);
  font-optical-sizing: var(--ame-font-optical-sizing);
  font-weight: var(--ame-font-weight);
  font-style: var(--ame-font-style);
  color: var(--ame-blue);
}

.container_d1f8f5 {
  /* background: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  ); */
}

/* server navigation ===========================================================================================*/
.wrapper__216eb.guilds__2b93a {
  background: #eaffdb;
  border-right: var(--ame-border);

  .wrapper__8436d {
    /** FIXME: discord top badge not working */
    background: #eaffdb;
  }

  /* .wrapper__9916c path {
    display: none;
  } */
  /* .wrapper__9916c .selected__501f5 .childWrapper_a6ce15,
  .wrapper__9916c .childWrapper_a6ce15 {
    background: white;
  } */

  /* folder */
  .expandedFolderBackground_b1385f {
    opacity: 0.6;
  }

  /* active indicator */
  .item_f9d377 {
    background-color: var(--ame-main-pink);
  }

  .numberBadge__40d6f.base__5ed84.eyebrow_c15ff6.baseShapeRound_c1de89 {
    background-color: var(--ame-main-pink) !important;
  }

  /* unread button */
  .mention_dd733a {
    background-color: var(--ame-main-pink);
    opacity: 0.9;
  }
}

/* main content ===========================================================================================*/
.chat__52833 {
  background: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  );
}

/* sidebar left ============================================================================= */
.sidebar_e031be {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 240px;
  flex: 0 0 auto;
  overflow: hidden;
  border-right: var(--ame-border);
  background: linear-gradient(90deg, #eaffdb, #78efff);

  .container__7e23c {
    background: transparent;
  }

  /* server header */
  .header__77c95 {
    border-bottom: var(--ame-border);
    box-shadow: none;
  }

  /* profile ================================ */
  .panels__58331 {
    background-color: transparent;

    .container_debb33 {
      background-color: transparent;
      border-top: var(--ame-border);
    }
  }
}

/* DM ================================ */
.privateChannels__9b518,
.theme-light .scroller__89969 {
  background: transparent;
}
/* DM profile panel */
.profilePanel_e2cafe {
  padding-top: 35px;
  padding-bottom: 25px;
}
.profilePanel_e2cafe::before,
.profilePanel_e2cafe::after {
  box-sizing: border-box;
  padding: 11px 0 0 30px;
  content: "Pro f il e";
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/window-top.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  overflow: hidden;
  max-height: 42px;
  z-index: 2;
}
.profilePanel_e2cafe::after {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/window-bottom.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  content: "";
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  height: 25px;
}
.userPanelOuter_eb00b1.userProfileOuterUnthemed_e14365.profileColors_ac6ab4,
.userPanelOuter_eb00b1.userProfileOuterThemed__1fbd7.profileColors_ac6ab4.theme-light {
  position: relative;
}
.userPanelOuter_eb00b1.userProfileOuterUnthemed_e14365.profileColors_ac6ab4::before,
.userPanelOuter_eb00b1.userProfileOuterThemed__1fbd7.profileColors_ac6ab4.theme-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 5px,
    rgba(77, 35, 207, 1) 5px
  );
  width: 7px;
  z-index: 2;
}
.userPanelOuter_eb00b1.userProfileOuterUnthemed_e14365.profileColors_ac6ab4::after,
.userPanelOuter_eb00b1.userProfileOuterThemed__1fbd7.profileColors_ac6ab4.theme-light::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 5px,
    rgba(77, 35, 207, 1) 5px,
    rgba(77, 35, 207, 1) 6px,
    rgb(148, 110, 231) 6px
  );
  width: 10px;
  z-index: 2;
}

.none_ff9f86.scrollerBase__65223 {
  background: var(--ame-white);
}
.userPanelInnerThemed_c2aed9 {
  background: transparent;
}
/* Overiding User custom color !shuldnt do this */
.userProfileOuterThemed__1fbd7 {
  /* background: transparent !important; */
}
.userProfileOuterUnthemed_e14365 {
  background: hsl(var(--ame-white)) !important;
}

/* header chat ================================ */
.theme-light .themed_b152d4,
.themed_b152d4 {
  background: transparent;
}
.theme-light .children_cde9af:after,
.children_cde9af:after {
  background: transparent;
  border-right: var(--ame-border);
}
.icon_ae0b42 {
  color: var(--ame-blue);
}

/* toolbar right */
.toolbar__62fb5 {
  .iconWrapper_de6cd1.clickable_ce0925 .icon_ae0b42 {
    color: hsl(var(--ame-white));
  }
}

/* main chat ================================ */
.content__01e65:before {
  border-bottom: var(--ame-border);
  box-shadow: none;
}
.chatContent_f087cb {
  background: transparent;
  border-right: var(--ame-border);
  box-shadow: none;
}
.theme-light .form_d8a4a1:before,
.form_d8a4a1:before {
  background: transparent;
}

/* mention message */
.message_ccca67.cozyMessage__9f4fd.mentioned_fa6fd2.groupStart__7b93c.wrapper_a62503.cozy_f5c119.zalgo__39311 {
  background: hsla(var(--ame-white), 0.5);
}
.mentioned_fa6fd2:before {
  background: var(--ame-main-pink);
}

/* new message devider ================================ */
.divider__855e3 {
  border-top-color: var(--ame-main-pink) !important;
}
.unreadPill__1b4fa {
  background-color: var(--ame-main-pink) !important;
}
.unreadPillCap__44e20.unreadPillCapStroke__89d64,
.unreadPillCapStroke__89d64 {
  stroke: var(--ame-main-pink) !important;
  color: var(--ame-main-pink) !important;
  fill: var(--ame-main-pink) !important;
}
.content__7191e {
  color: hsl(var(--ame-white));
  background: var(--ame-main-pink);
}

/* sidebar right ================================ */
.container_f79ab4 {
  background: transparent;
}
.members__573eb {
  background: transparent;
}

/* ============================================================= */
/* user popout */
.theme-light.layer__6b5c3 {
  right: calc(248px - 8px) !important;
}
.userPopoutOuter__3884e.userProfileOuter__4ac83.userProfileOuterUnthemed_e14365.profileColors_ac6ab4 {
  background: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  );
  border-radius: 0;
  border: var(--ame-border);
}
.userPopoutInner_e90432.userProfileInner__61cc1.userProfileInnerThemedNonPremium_ed9022 {
  background: transparent;
}

/* user banner */
.userProfileInner__61cc1 {
  border-radius: 0;
}
.bannerSVGWrapper__8a38c {
  mask {
    background: transparent;
    border-bottom: var(--ame-border);
    stroke: #78efff;
  }

  rect {
    fill: #78efff;
  }

  .banner__6d414.popoutBannerPremium__84487.bannerPremium__69560.roundedBanner__16aa6 {
    border-bottom: thin solid yellow;
    box-sizing: content-box;
  }
}

.userProfileInnerThemedNonPremium_ed9022 {
  background: transparent;
}
.userProfileInner__61cc1:before {
  background: transparent;
}
.userPopoutOverlayBackground_bf6444.overlayBackground__2666e {
  background: transparent;
}
