/**
 * @name ame-chan
 * @description Needy streamer overload inspired theme
 * @author yume_0
 * @version 0.0.1
 * @source https://github.com/yuandahanif/ame-chan
 * @authorId 378907976267726859
*/

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  /* top left corner text */
  --corner-text: "OMGkawaiiAngel";

  --ame-white: 300, 100%, 99%;
  --ame-blue: hsl(255, 71%, 47%);
  --ame-border-color: #161617;
  --ame-border: thin solid var(--ame-border-color);
  --ame-main-pink: #ff7ace;
  --ame-font-family: "Pixelify Sans", sans-serif;
  --ame-font-optical-sizing: auto;
  --ame-font-weight: 600;
  --ame-font-style: normal;
  --ame-scroll-thumb-color: #db8ed6;
  --ame-scroll-track-color: #9fbfce;

  /* override */
  --divider-color: var(--ame-main-pink);
  --scrollbar-auto-scrollbar-color-thumb: var(--ame-scroll-thumb-color);
  --scrollbar-auto-scrollbar-color-track: var(--ame-scroll-track-color);
  --scrollbar-auto-thumb: var(--ame-scroll-thumb-color);
  --scrollbar-auto-track: var(--ame-scroll-track-color);
  --scrollbar-thin-thumb: var(--ame-scroll-thumb-color);
  --scrollbar-thin-track: var(--ame-scroll-track-color);
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

/* pixelated font override */
.defaultColor__30336.heading-md-semibold__76ba1.defaultColor__8610e.title__84e16,
.lineClamp1__6f680.text-md-semibold__8664f.name_e8e549,
.profilePanel_e2cafe::before,
.membersGroup_cad095.container__43554 {
  font-family: var(--ame-font-family);
  font-optical-sizing: var(--ame-font-optical-sizing);
  font-weight: var(--ame-font-weight);
  font-style: var(--ame-font-style);
  color: var(--ame-blue);
}
/* server navigation ===========================================================================================*/
.wrapper__216eb.guilds__2b93a {
  background: #eaffdb;
  border-right: var(--ame-border);

  .wrapper__8436d {
    /** FIXME: discord top badge not working */
    background: #eaffdb;
  }

  /* folder */
  .expandedFolderBackground_b1385f {
    opacity: 0.6;
  }

  /* active indicator */
  .item_f9d377 {
    background-color: var(--ame-main-pink);
  }

  .numberBadge__40d6f.base__5ed84.eyebrow_c15ff6.baseShapeRound_c1de89 {
    background-color: var(--ame-main-pink) !important;
  }

  /* unread button */
  .mention_dd733a {
    background-color: var(--ame-main-pink);
    opacity: 0.9;
  }
}

/* main content ===========================================================================================*/
.chat__52833 {
  background: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  );
}

/* sidebar left ============================================================================= */
.sidebar_e031be {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 240px;
  flex: 0 0 auto;
  overflow: hidden;
  border-right: var(--ame-border);
  background: linear-gradient(90deg, #eaffdb, #78efff);

  .container__7e23c {
    background: transparent;
  }

  /* server header */
  .header__77c95 {
    border-bottom: var(--ame-border);
    box-shadow: none;
  }

  /* profile ================================ */
  .panels__58331 {
    background-color: transparent;

    .container_debb33 {
      background-color: transparent;
      border-top: var(--ame-border);
    }
  }
}

/* header chat ================================ */
.theme-light .themed_b152d4,
.themed_b152d4 {
  background: transparent;
}
.theme-light .children_cde9af:after,
.children_cde9af:after {
  background: transparent;
  border-right: var(--ame-border);
}
.icon_ae0b42 {
  color: var(--ame-blue);
}

/* toolbar right */
.toolbar__62fb5 {
  .iconWrapper_de6cd1.clickable_ce0925 .icon_ae0b42 {
    color: hsl(var(--ame-white));
  }
}

/* main chat ================================ */
.content__01e65:before {
  border-bottom: var(--ame-border);
  box-shadow: none;
}
.chatContent_f087cb {
  background: transparent;
  border-right: var(--ame-border);
  box-shadow: none;
}
.theme-light .form_d8a4a1:before,
.form_d8a4a1:before {
  background: transparent;
}

/* mention message */
.message_ccca67.cozyMessage__9f4fd.mentioned_fa6fd2.groupStart__7b93c.wrapper_a62503.cozy_f5c119.zalgo__39311 {
  background: hsla(var(--ame-white), 0.5);
}
.mentioned_fa6fd2:before {
  background: var(--ame-main-pink);
}

/* new message devider ================================ */
.divider__855e3 {
  border-top-color: var(--ame-main-pink) !important;
}
.unreadPill__1b4fa {
  background-color: var(--ame-main-pink) !important;
}
.unreadPillCap__44e20.unreadPillCapStroke__89d64,
.unreadPillCapStroke__89d64 {
  stroke: var(--ame-main-pink) !important;
  color: var(--ame-main-pink) !important;
  fill: var(--ame-main-pink) !important;
}
.content__7191e {
  color: hsl(var(--ame-white));
  background: var(--ame-main-pink);
}

/* sidebar right ================================ */
.container_f79ab4 {
  background: transparent;
}
.members__573eb {
  background: transparent;
  width: 240px; /* keep the scrollbar */
  padding: 0;
}

/* group title */
.membersGroup_cad095.container__43554 {
  padding: 10px 0px 7px 7px;
  height: auto;
}
/* member list */
.member_aa4760.member_b44d5d.container_a48b21 {
  background: hsla(var(--ame-white), 0.3);
  max-width: 240px;
  border-radius: 0;
  margin-left: 0;
}
.member_aa4760.member_b44d5d.container_a48b21.selected__7f4cb {
  background: hsla(var(--ame-white), 0.5);
}

/* user popout =============================================================  */
/* from user list on right panel */
:is(.layer__6b5c3[style*="right"]):has(
    .userPopoutOuter__3884e.userProfileOuter__4ac83.userProfileOuterUnthemed_e14365.profileColors_ac6ab4
  ) {
  right: calc(248px - 8px) !important;

  .layer__6b5c3 {
    right: 0 !important;
  }
}

/* from profile on bottom left */
:is(.layer__6b5c3):has(#account-switch-account) {
  left: 72px !important;
  right: unset !important;
  bottom: 50% !important;
  transform: translateY(50%) !important;

  .accountProfilePopoutWrapper_d4887f {
    left: 0;
  }
}

.userPopoutOuter__3884e.userProfileOuter__4ac83.userProfileOuterUnthemed_e14365.profileColors_ac6ab4 {
  border-radius: 0;
  border: var(--ame-border);
}
.userPopoutInner_e90432.userProfileInner__61cc1 {
  background: transparent;
}

/* user banner */
.userProfileInner__61cc1 {
  border-radius: 0;
}

.banner__6d414.popoutBannerPremium__84487.bannerPremium__69560.roundedBanner__16aa6[style*="background-color"],
.banner__6d414.popoutBanner__3fbe8[style*="background-color"] {
  background-color: hsl(var(--ame-white)) !important;
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/Henshin.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* DM screeen ================================================================================================================================================================ */
.content__76dcf:has([aria-label=" (channel)"]) {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/JINEBG.webp");
  background-repeat: repeat;
  background-size: 200px;

  .sidebar_e031be {
    background: transparent;
  }

  .chat__52833 {
    background: transparent;
  }

  .searchBar__621ec {
    background: transparent;
    border-bottom: var(--ame-border);
  }

  /* .message_ccca67.cozyMessage__9f4fd.groupStart__7b93c.wrapper_a62503.cozy_f5c119.zalgo__39311,
  .messageListItem__050f9 {
    background: #d0e5ff;
  } */
  .scrollerInner__37fee[data-list-id="chat-messages"] {
    /* own message */
    /* li:has(.button_d4bf9b[aria-label="Edit"]) {
      background: #000;
    } */

    /* friend message */
    /* li:has(.button_d4bf9b[aria-label="Reply"]) {
      background: red;
    } */
  }

  /* chat input */
  .form_d8a4a1 {
    background: rgba(180, 156, 211, 0.8);
    padding-left: 0;
    padding-right: 0;

    .channelTextArea_c2094b.channelTextArea__648e5 {
      margin-bottom: 0;
      border-radius: 0;

      .scrollableContainer_ff917f.themedBackground__3a4c0.webkit__8d35a {
        border-radius: 0;
        padding-left: 0;

        .inner__9fd0b.sansAttachButton__5f863 {
          padding-left: 6px;
        }
      }
    }

    /* typing animation */
    .typing__6fd1d.base__06abc {
      bottom: unset;
      display: flex;
      justify-content: center;
      transform: translateY(-100%);
      top: 0;
      left: 0;
      right: unset;
      width: 100%;
      color: var(--text-normal);
      background: #d0e5ff;
    }
  }
}
.privateChannels__9b518,
.theme-light .scroller__89969,
.chatContent_f087cb:has(+ .profilePanel_e2cafe) {
  background: transparent;
}

/* DM right profile panel */
.profilePanel_e2cafe {
  padding-top: 35px;
  padding-bottom: 14px;
}
.profilePanel_e2cafe::before,
.profilePanel_e2cafe::after {
  box-sizing: border-box;
  padding: 11px 0 0 30px;
  content: "Pro f il e";
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-c.png");
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  overflow: hidden;
  max-height: 42px;
  z-index: 2;
}
.profilePanel_e2cafe::after {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-c.png");
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
  padding: 0;
  content: "";
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  height: 14px;
}
.userPanelOuter_eb00b1.userProfileOuterUnthemed_e14365.profileColors_ac6ab4,
.userPanelOuter_eb00b1.userProfileOuterThemed__1fbd7.profileColors_ac6ab4.theme-light {
  position: relative;
}
.userPanelOuter_eb00b1.userProfileOuterUnthemed_e14365.profileColors_ac6ab4::before,
.userPanelOuter_eb00b1.userProfileOuterThemed__1fbd7.profileColors_ac6ab4.theme-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 5px,
    rgba(77, 35, 207, 1) 5px
  );
  width: 7px;
  z-index: 2;
}
.userPanelOuter_eb00b1.userProfileOuterUnthemed_e14365.profileColors_ac6ab4::after,
.userPanelOuter_eb00b1.userProfileOuterThemed__1fbd7.profileColors_ac6ab4.theme-light::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 5px,
    rgba(77, 35, 207, 1) 5px,
    rgba(77, 35, 207, 1) 6px
  );
  width: 7px;
  z-index: 2;
}

/* user banner without notro */
.banner__6d414.panelBanner__7d7e2.bannerPremium__69560[style*="background-color"] {
  background-color: hsla(var(--ame-white)) !important;
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/Henshin.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.none_ff9f86.scrollerBase__65223 {
  background: var(--ame-white);
}
.userPanelInnerThemed_c2aed9 {
  background: transparent;
}

/* Overiding User custom color !shuldnt do this */
.userProfileOuterThemed__1fbd7 {
  /* background: transparent !important; */
}
.userProfileOuterUnthemed_e14365 {
  background: hsl(var(--ame-white)) !important;
}

/* Friend ==================================================== */
.peopleColumn__0c784 {
  background: hsl(var(--ame-white));
}

.upperContainer__57565:has(.tabBar__73938.topPill__63ad4[aria-label="Friends"])
  svg {
  color: hsl(var(--ame-border-color));
}

/* Actibe now right panel */
.nowPlayingColumn_b025fe {
  display: flex;
  flex-direction: column;
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/preview/KAngel-peace-shine.webp"),
    hsl(var(--ame-white));
  background-repeat: no-repeat;
  background-position: bottom;
}
.container__3673d {
  background: transparent;
}

/* Streaming ================================================================================================================================================================ */
.wrapper__6bf2d.noChat_ce920d.video__004a2.chatSidebarOpen_f2e544 {
  background-color: hsl(var(--ame-white));
}

/* chat =====================*/
.channelChatWrapper__43f43 {
  background: transparent;
}
.container__694a1 {
  border-radius: 0;
  background: transparent;
}

/* chat header */
.channelChatWrapper__43f43 .container__26baa[aria-label="Channel header"] {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-t-c.png");
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
}
.channelChatWrapper__43f43
  .container__26baa[aria-label="Channel header"]
  .children_cde9af
  .iconWrapper_de6cd1 {
  display: none;
}
.channelChatWrapper__43f43
  .container__26baa[aria-label="Channel header"]
  .children_cde9af
  .titleWrapper_d6133e {
  margin-left: 35px;
  margin-top: auto;
  margin-bottom: auto;
}
.channelChatWrapper__43f43 .children_cde9af:after,
.channelChatWrapper__43f43 .children_cde9af:after {
  border-right: 2px solid var(--ame-blue);
}

/* close icon */
.channelChatWrapper__43f43
  .container__26baa
  .toolbar__62fb5
  .iconWrapper_de6cd1.clickable_ce0925[aria-label="Close"]
  .icon_ae0b42 {
  color: hsl(var(--ame-border-color));
}

/* chat */
.channelChatWrapper__43f43 .messagesWrapper_add28b.group-spacing-16 {
  background: linear-gradient(
    90deg,
    rgba(77, 35, 207, 1) 2px,
    rgba(144, 244, 228, 1) 2px,
    rgba(144, 244, 228, 1) 7px,
    rgba(77, 35, 207, 1) 7px,
    rgba(77, 35, 207, 1) 9px,
    hsl(var(--ame-white)) 9px,
    hsl(var(--ame-white)) 98.5%,
    rgba(77, 35, 207, 1) 98.5%,
    rgba(77, 35, 207, 1) 98.9%,
    rgba(144, 244, 228, 1) 98.9%,
    rgba(144, 244, 228, 1) 99.7%,
    rgba(77, 35, 207, 1) 99.7%
  );
}

/* input */
.channelChatWrapper__43f43 .form_d8a4a1 {
  background: url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-r.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-l.png"),
    url("https://raw.githubusercontent.com/yuandahanif/NSO-inspired-discord-theme/main/themes/assets/frame/f-b-c.png"),
    linear-gradient(
      90deg,
      rgba(77, 35, 207, 1) 2px,
      rgba(144, 244, 228, 1) 2px,
      rgba(144, 244, 228, 1) 7px,
      rgba(77, 35, 207, 1) 7px,
      rgba(77, 35, 207, 1) 9px,
      hsl(var(--ame-white)) 9px,
      hsl(var(--ame-white)) 98.5%,
      rgba(77, 35, 207, 1) 98.5%,
      rgba(77, 35, 207, 1) 98.9%,
      rgba(144, 244, 228, 1) 98.9%,
      rgba(144, 244, 228, 1) 99.7%,
      rgba(77, 35, 207, 1) 99.7%
    );
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position-x: right, left, center;
  background-position-y: bottom;

  padding-left: 10px;
  padding-right: 10px;
}

/* chat input */
.channelChatWrapper__43f43
  .form_d8a4a1
  .channelTextArea_c2094b.channelTextArea__648e5 {
  margin-bottom: 19px;
}
.channelChatWrapper__43f43
  .form_d8a4a1
  .channelTextArea_c2094b.channelTextArea__648e5
  .scrollableContainer_ff917f.themedBackground__3a4c0 {
  border-radius: 0;
}
