/**
 * @name ame-chan
 * @description Needy streamer overload inspired theme
 * @author yume_0, re1nee_
 * @version 0.0.1
 * @source https://github.com/yuandahanif/ame-chan
 * @authorId 378907976267726859
*/

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  /* top left corner text */
  --corner-text: "OMGkawaiiAngel";

  --ame-white: hsl(290, 60%, 98%);
  --ame-blue: hsl(255, 71%, 47%);
  --ame-border-color: #161617;
  --ame-border: thin solid var(--ame-border-color);
  --ame-main-pink: #ff7ace;
  --ame-font-family: "Pixelify Sans", sans-serif;
  --ame-font-optical-sizing: auto;
  --ame-font-weight: 600;
  --ame-font-style: normal;

  /* override */
  --divider-color: var(--ame-main-pink);
}

/* pixelated font override */
.defaultColor__30336.heading-md-semibold__76ba1.defaultColor__8610e.title__84e16,
.lineClamp1__6f680.text-md-semibold__8664f.name_e8e549 {
  font-family: var(--ame-font-family);
  font-optical-sizing: var(--ame-font-optical-sizing);
  font-weight: var(--ame-font-weight);
  font-style: var(--ame-font-style);
  color: var(--ame-blue);
}

.container_d1f8f5 {
  /* background: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  ); */
}

/* server navigation ===========================================================================================*/
.wrapper__216eb.guilds__2b93a {
  background: #eaffdb;
  border-right: var(--ame-border);

  .wrapper__8436d {
    /** FIXME: discord top badge not working */
    background: #eaffdb;
  }

  /* .wrapper__9916c path {
    display: none;
  } */
  /* .wrapper__9916c .selected__501f5 .childWrapper_a6ce15,
  .wrapper__9916c .childWrapper_a6ce15 {
    background: white;
  } */

  /* folder */
  .expandedFolderBackground_b1385f {
    opacity: 0.6;
  }

  /* active indicator */
  .item_f9d377 {
    background-color: var(--ame-main-pink);
  }

  .numberBadge__40d6f.base__5ed84.eyebrow_c15ff6.baseShapeRound_c1de89 {
    background-color: var(--ame-main-pink) !important;
  }

  /* unread button */
  .mention_dd733a {
    background-color: var(--ame-main-pink);
    opacity: 0.9;
  }
}

/* main content ===========================================================================================*/
.chat__52833 {
  background: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  );
}

/* sidebar left ============================================================================= */
.sidebar_e031be {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 240px;
  flex: 0 0 auto;
  overflow: hidden;
  border-right: var(--ame-border);
  background: linear-gradient(90deg, #eaffdb, #78efff);

  .container__7e23c {
    background: transparent;
  }

  /* server header */
  .header__77c95 {
    border-bottom: var(--ame-border);
    box-shadow: none;
  }

  /* profile ================================ */
  .panels__58331 {
    background-color: transparent;

    .container_debb33 {
      background-color: transparent;
      border-top: var(--ame-border);
    }
  }
}

/* DM ================================ */
.privateChannels__9b518,
.theme-light .scroller__89969 {
  background: transparent;
}

/* header chat ================================ */
.theme-light .themed_b152d4,
.themed_b152d4 {
  background: transparent;
}
.theme-light .children_cde9af:after,
.children_cde9af:after {
  background: transparent;
  border-right: var(--ame-border);
}
.icon_ae0b42 {
  color: var(--ame-blue);
}

/* toolbar right */
.toolbar__62fb5 {
  .iconWrapper_de6cd1.clickable_ce0925 .icon_ae0b42 {
    color: var(--ame-white);
  }
}

/* main chat ================================ */
.content__01e65:before {
  border-bottom: var(--ame-border);
  box-shadow: none;
}
.chatContent_f087cb {
  background: transparent;
  border-right: var(--ame-border);
  box-shadow: none;
}
.theme-light .form_d8a4a1:before,
.form_d8a4a1:before {
  background: transparent;
}

/* new message devider ================================ */
.divider__855e3 {
  border-top-color: var(--ame-main-pink) !important;
}
.unreadPill__1b4fa {
  background-color: var(--ame-main-pink) !important;
}
.unreadPillCap__44e20.unreadPillCapStroke__89d64,
.unreadPillCapStroke__89d64 {
  stroke: var(--ame-main-pink) !important;
  color: var(--ame-main-pink) !important;
  fill: var(--ame-main-pink) !important;
}
.content__7191e {
  color: var(--ame-white);
  background: var(--ame-main-pink);
}

/* sidebar right ================================ */
.container_f79ab4 {
  background: transparent;
}
.members__573eb {
  background: transparent;
}

/* ============================================================= */
/* user popout */
.theme-light.layer__6b5c3 {
  right: calc(248px - 6px) !important;
}
.userPopoutOuter__3884e.userProfileOuter__4ac83.userProfileOuterUnthemed_e14365.profileColors_ac6ab4 {
  /* background-color: var(--ame-white); */
  background: linear-gradient(
    261deg,
    #dab9ff 13.66%,
    #ffb9f0 42.55%,
    #ffbcd0 85.7%
  );
}
.userPopoutInner_e90432.userProfileInner__61cc1.userProfileInnerThemedNonPremium_ed9022 {
  background: transparent;
}

.userProfileInnerThemedNonPremium_ed9022 {
  /* background: linear-gradient(
    var(--profile-gradient-primary-color),
    var(--profile-gradient-primary-color) 60px,
    var(--profile-gradient-secondary-color)
  ); */
  background: transparent;
}
.userProfileInner__61cc1:before {
  background: transparent;
}
.userPopoutOverlayBackground_bf6444.overlayBackground__2666e {
  background: transparent;
}
